@import '../../App.scss';

.bar-graph {
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%;
    height: 530px;
    padding: 50px 45px;
    z-index: -1;
    position: relative;


    .graph-labels {
        display: table;
        margin: 0 auto;
        padding-bottom: 22.5px;

        ul {
            padding: 0;
            margin: 0 auto;
            list-style: none;
        }

        span {
            margin-right: 10px;
        }

        li {
            text-align: center;
            display: inline-block;
            &:not(:last-child) {
                margin-right: 25px;
            }
        }

        h5 {
            margin: 0;
            font-size: $font-xs;
            font-weight: 300;
            color: $grayishBlack;
            display: inline-block;
        }
    }

    .graph-content {
        display: flex;
        flex-direction: row;
        padding: 22.5px;
    }

    .graph-axis {

        ul {
            list-style: none;
            padding-right: 15px;
            padding-left: 0;
            margin: 0;
        }

        li {
            font-size: $font-xs;
            font-weight: 300;
            color: $grayishBlack;
            text-align: right;
            
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }

    .graph-image {
        
    }
}