.hero {

    /*background: url('./assets/99images/banner.png') 
    center center/cover no-repeat;*/
    height: 620px;
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
    margin: -116px auto;
    top: 0;
    overflow: hidden;    

    .hero-background {
        background-image: url('../assets/99images/banner.png');
        background-repeat: no-repeat;
        height: 620px;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: -1;
    }

    .hero-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto 0;
        padding: 120px 12% 0;
        max-width: 1500px;
        overflow: hidden;
    }

    .hero-image {
        padding-right: 30px;
        text-align: right;
        width: 35vw;

        img {
            width: 22vw;
            max-height: auto;
        }
    }

    .hero-cta {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding-left: 20px;

        :not(:last-child) {
            margin-bottom: 20px;
        }

        h1 {
            color: #fff;
            margin: 0;
            font-weight: 400;
            line-height: 2.5rem;
            width: 40vw;
            font-size: 2.25rem;
        }

        p {
            font-size: 1rem;
            color: #fff;
            font-weight: 300;
            width: 41vw;
            margin: 0;
        }
    }

    @media screen and (max-width: 960px) {

        /*
        .hero-background {
            background-image: url('./assets/99images/Rectangle1.png');
            background-repeat: no-repeat;
            top: 0;
        }*/
    

        .hero-container {
            display: flex;
            top: 80px;
            flex-direction: column-reverse;
            position: relative;
            justify-content: center;
            margin: auto 0;
            padding: 0;
        }

        .hero-cta {
            display: flex;
            flex-direction: column;
            margin: 20px auto;
            width: 95vw;
            padding: 20px;
                
            h1 {
                width: 85vw;
                color: #fff;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 2rem;
            }
    
            p {
                width: 80vw;
                color: #fff;
                font-weight: 300;
            }
        }
    }
}