.navbar {

    background-color: black;
    display: flex;
    justify-content: center;
    margin: auto 0;
    padding: 0 6%;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100vw;

    .navbar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 116px;
        max-width: 1500px;
    }

    .navbar-logo {
        justify-self: start;
        cursor: pointer;
    }

    .nav-menu {
        list-style: none;
        text-align: right;
        width: 65vw;
        padding: 0;
        margin: 0;
        
        :not(:last-child) {
            margin-right: 5%;
        }
        
    }

    .nav-item {
        display: inline-block;
        height: 80px;
    }

    .nav-links {
        color: white;
        display: flex;
        align-items: center;
        text-decoration: none;
        height: 100%;
    }

    .nav-links:hover {
        border-bottom: 4px solid white;
        transition: all 0.2s ease-out;
    }

    .nav-links-mobile {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    @media screen and (max-width: 960px) {

        padding: 0;
        margin: 0;

        .navbar-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            width: 95vw;
            padding: 0;
            margin: 0;
            height: 80px;
        }

        .nav-menu {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 90vh;
            position: absolute;
            top: 80px;
            left: -100%;
            opacity: 1;
            transition: all 0.5s ease;
            :not(:last-child) {
                margin-right: 0;
            }
        }

        .active {
            background-color: black;
            left: 0;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 1;
        }

        .nav-links {
            padding: 2rem;
            display: table;
        }

        .nav-links:hover {
            background-color: white;
            color: black;
            border-radius: 0;
        }

        .navbar-logo {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(25%, 50%);

            img {
                width: 120px;
            }
        }
        
        .menu-icon {
            display: flex;
            flex-direction: row-reverse;
            top: 0;
            right: 0;
            font-size: 1.8rem;
            cursor: pointer;
            color: white;
            text-align: right;
            padding: 20px;
        }

        .nav-links-mobile {
            display: block;
            text-align: center;
            margin: 2rem auto;
            border-radius: 4px;
            width: 80%;
            text-decoration: none;
            font-size: 1.5rem;
            background-color: transparent;
            color: white;
            padding: 14px 20px;
            border: 1px solid white;
            transition: all 0.3s ease-out;
        }

        .nav-links-mobile:hover {
            background: white;
            color: black;
            transition: 250ms;
        }

    }
    
}