.section1 {

    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: 80px 12%;
    width: 100vw;

    .section1-text {
        padding-right: 60px;

        :not(:last-child) {
            margin-bottom: 20px;
        }

        h1 {
            font-weight: 400;
            line-height: 2.5rem;
            margin: 0;
        }

        p {
            font-weight: 300;
            font-size: 1.1rem;
            margin: 0;
        }
    }

    .section1-img {
        width: 100vw;
        text-align: center;

        img {
            width: 95%;
        }
    }

    .hide-for-desktop {
        display: none;
    }

    @media screen and (max-width: 960px) {

        flex-direction: column;
        padding: 20px 6%;

        .section1-text {
            display: none;
        }

        .section1-img {
            width: 90vw;
            text-align: center;
    
            img {
                width: 85%;
            }
        }
    
        .hide-for-desktop {
            display: none;
        }

        .hide-for-desktop {
            display: block;

            :not(:last-child) {
                margin-bottom: 20px;
            }

            h1 {
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 2.5rem;
                margin: 0;
                width: 85vw;
            }

            p {
                font-weight: 300;
                font-size: 1rem;
                margin: 0;
                width: 85vw;
            }
        }

    }
}