.section2 {

    background: url('../assets/99images/featurebg.png') 
    center center/cover no-repeat;
    background-repeat: no-repeat;
    height: auto;
    position: relative;
    width: 100vw;
    z-index: -1;

    .content1 {
        padding: 50px 12% 15px;
    }

    .section2-header-container {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        width: 100vw;

        h1 {
            font-weight: 400;
            line-height: 2.5rem;
            margin: 0;
        }

        p {
            font-weight: 300;
            font-size: 1.1rem;
            margin: 0;
        }
    }

    .section2-content1-container {
        display: flex;
        flex-direction: row;
        margin: auto 0;
        width: 100vw;
        padding: 15px 12% 80px;

    }

    .section2-img {

        text-align: center;
        align-items: center;
        justify-content: center;
        margin: auto 0;
        width: 25vw;

        img {
            width: 95%;
            height: auto;
        }
    }
}