@import '../../App.scss';

.section4 {

    background: url('../assets/99images/section4.png') 
    center center/cover no-repeat;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    padding: 80px 12%;
    width: 100vw;
    z-index: -1;

    .section4-content {

        text-align: center;

        h4 {
            font-weight: 400;
            font-size: $font-xl;
            color: $white;
            margin: 0;
        }

        h3 {
            font-weight: 300;
            font-size: $font-lg;
            color: $white;
            margin: 0;
        }

    }
}